ion-list{
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 15px;
}

ion-list-header{
    text-transform: uppercase;
}

.logo {
    display: flex; 
    justify-content: center; 
    align-items: center;
    padding-top: 10px;
}

.autor {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.lixeira {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}