<ion-header [translucent]="true" class="espaco">
  <ion-toolbar color="secondary">
    <ion-title>
      Recomendações de escritores brasileiros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="secondary">

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm>
        <div>
          <ion-card>
            <img height="320" src="../assets/kabral.jpeg" />
            <ion-card-header>
              <ion-card-title>Fábio Kabral</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p class="justificado">Fábio Kabral é um escritor de literatura fantástica e ficção científica, suas obras são conhecidas pela temática da cultura africana/afrobrasileira.</p>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>

      <ion-col size="12" size-sm>
        <div>
          <ion-card>
            <img height="320" src="../assets/dracon.jpg" />
            <ion-card-header>
              <ion-card-title>Raphael Draccon</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p class="justificado">Raphael Draccon (Rafael Albuquerque Pereira) é um escritor e roteirista de fantasia e ficção. Sua obra mais conhecida é a saga Dragões do Éter.</p>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>

      <ion-col> 
        <div>
          <ion-card size="12"  size-sm>
            <img height="320" src="../assets/karen.jpg" />
            <ion-card-header>
              <ion-card-title>Karen Alvares</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p class="justificado">Karen Alvares é uma escritora brasileira de terror, suspense, fantasia medieval e dark, cyberpunk, etc. Muito conhecida e elogiada por causar arrepios em seus leitores.</p>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>

      <ion-col size="12" size-sm> 
        <div>
          <ion-card>
            <img height="320" src="../assets/ana-maria.jpg" />
            <ion-card-header>
              <ion-card-title>Ana Maria Machado</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p class="justificado">Ana Maria Machado foi a primeira ecritora de literatura infantil a fazer parte da Academia Brasileira de Letras. Ela também já ganhou 3 prêmios Jabuti!</p>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>

    
  </ion-grid>

</ion-content>
